include head.pug
body
    h1 Bienvenu sur [Nom du jeu]
    div
        h2 Connexion
        form(method='POST' action='/connexion')
            input(type='text' value='login' name='login')
            input(type='password' value='pass' name='pass')
            input(type='submit' value='Envoyer')
    div
        h2 Inscription
        form(method='POST' action='/inscription')
            input(type='text' value='login' name='login')
            input(type='password' value='pass' name='pass')
            input(type='submit' value='Envoyer')
    p=message

    if login
        div#goToPlay
            form(action='bedRunner?')
                input(type="submit" value='jouer')